.card {
  @apply flex flex-col;
  box-shadow: var(--tw-card-box-shadow);
  background-color: var(--tw-card-background-color);
  border-radius: theme("custom.components.common.borderRadius.card");
  border: var(--tw-card-border);
}
.card-title {
  line-height: theme("fontSize.base.1.lineHeight");
  font-weight: theme("fontWeight.semibold");
  @apply text-gray-900 text-[1.6rem] tracking-tight;
}
.card-header {
  @apply flex min-h-[5.6rem] items-center justify-between;
  border-bottom: var(--tw-card-border);
  padding-inline-start: theme("custom.components.card.px");
  padding-inline-end: theme("custom.components.card.px");
  padding-top: theme("custom.components.card.py.header");
  padding-bottom: theme("custom.components.card.py.header");
}
.card-description {
  @apply text-2sm text-muted-foreground;
}
.card-body {
  @apply flex-grow;
  padding-inline-start: theme("custom.components.card.px");
  padding-inline-end: theme("custom.components.card.px");
  padding-top: theme("custom.components.card.py.header");
  padding-bottom: theme("custom.components.card.py.header");
}
.card-footer {
  @apply flex items-center justify-between;
  border-top: var(--tw-card-border);
  padding-inline-start: theme("custom.components.card.px");
  padding-inline-end: theme("custom.components.card.px");
  padding-top: theme("custom.components.card.py.footer");
  padding-bottom: theme("custom.components.card.py.footer");
}
.card-table {
  table {
    th:first-child {
      border-start-start-radius: theme(
        "custom.components.common.borderRadius.card"
      );
    }
    th:last-child {
      border-start-end-radius: theme(
        "custom.components.common.borderRadius.card"
      );
    }
    .card-header + .card-body,
    .card-header + .card-table {
      table {
        th:first-child,
        th:last-child {
          @apply rounded-none;
        }
      }
    }
    th:first-child,
    td:first-child {
      padding-inline-start: theme("custom.components.card.px");
    }
    th:last-child,
    td:last-child {
      padding-inline-end: theme("custom.components.card.px");
    }
    &.table-border {
      @apply border-0;
    }
  }
}
.card-group {
  @apply last:border-b-0;
  border-bottom: var(--tw-card-border);
  padding-inline-start: theme("custom.components.card.px");
  padding-inline-end: theme("custom.components.card.px");
  padding-top: theme("custom.components.card.py.group");
  padding-bottom: theme("custom.components.card.py.group");
  & + .card-footer {
    @apply border-t-0;
  }
}
.card-grid {
  .card-header,
  .card-footer {
    padding-inline-start: theme("custom.components.card.grid.px");
    padding-inline-end: theme("custom.components.card.grid.px");
  }
  .card-body {
    @apply p-0;
    .table {
      @apply border-0;
      th:first-child,
      td:first-child {
        padding-inline-start: theme("custom.components.card.grid.px");
        &.table-cell-center {
          padding-inline-end: theme("custom.components.card.grid.px");
        }
      }

      th:last-child,
      td:last-child {
        padding-inline-start: theme("custom.components.card.grid.px");
        &.table-cell-center {
          padding-inline-end: theme("custom.components.card.grid.px");
        }
      }
    }
  }
}

.card-border{
  border: var(--tw-card-border);
}
.card-rounded {
  border-radius: theme('custom.components.common.borderRadius.card');
  &.table{
    @apply border-separate border-spacing-0;
  }
}

.card-rounded-b {
  border-end-start-radius: theme('custom.components.common.borderRadius.card');
  border-end-end-radius: theme('custom.components.common.borderRadius.card'); 
}
.card-rounded-bs {
  border-end-start-radius: theme('custom.components.common.borderRadius.card');
}
.card-rounded-be {
  border-end-end-radius: theme('custom.components.common.borderRadius.card');
}
.card-rounded-t {
  border-start-start-radius: theme('custom.components.common.borderRadius.card');
  border-start-end-radius: theme('custom.components.common.borderRadius.card');
}
.card-rounded-ts {
  border-start-start-radius: theme('custom.components.common.borderRadius.card');
}
.card-rounded-te {
  border-start-end-radius: theme('custom.components.common.borderRadius.card');
}