@font-face {
  font-family: "Museo Sans 100";
  src: url("../vendors/font-family/MuseoSans/MuseoSans_100.otf") format("otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans 300";
  src: url("../vendors/font-family/MuseoSans/MuseoSans_300.otf") format("otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans 500";
  src: url("../vendors/font-family/MuseoSans/MuseoSans_500.otf") format("otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans 700";
  src: url("../vendors/font-family/MuseoSans/MuseoSans_700.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans 900";
  src: url("../vendors/font-family/MuseoSans/MuseoSans_900.otf") format("otf");
  font-weight: 900;
  font-style: normal;
}
