/* Font KeenIcons Pro*/
@import "../vendors/font-icons/keenicons/duotone/style.css";
@import "../vendors/font-icons/keenicons/filled/style.css";
@import "../vendors/font-icons/keenicons/outline/style.css";
@import "../vendors/font-icons/keenicons/solid/style.css";

@font-face {
  font-family: "ki-duotone";
  src: url("../vendors/font-icons/keenicons/duotone/keenicons-duotone.ttf")
      format("truetype"),
    url("../vendors/font-icons/keenicons/duotone/keenicons-duotone.woff")
      format("woff");
  font-style: normal;
}
@font-face {
  font-family: "ki-filled";
  src: url("../vendors/font-icons/keenicons/filled/keenicons-filled.ttf")
      format("truetype"),
    url("../vendors/font-icons/keenicons/filled/keenicons-filled.woff")
      format("woff");
  font-style: normal;
}
@font-face {
  font-family: "ki-outline";
  src: url("../vendors/font-icons/keenicons/outline/keenicons-outline.ttf")
      format("truetype"),
    url("../vendors/font-icons/keenicons/outline/keenicons-outline.woff")
      format("woff");
  font-style: normal;
}
@font-face {
  font-family: "ki-solid";
  src: url("../vendors/font-icons/keenicons/solid/keenicons-solid.ttf")
      format("truetype"),
    url("../vendors/font-icons/keenicons/solid/keenicons-solid.woff")
      format("woff");
  font-style: normal;
}
/* Font Awesome v6.5.1 Pro*/
@import "../vendors/font-icons/font-awesome-6.5.1-pro/css/all.css";
