@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 223 32% 22%;
    --card: 0 0% 100%;
    --card-foreground: 223 32% 22%;
    --popover: 0 0% 100%;
    --popover-foreground: 223 32% 22%;
    --primary: 212 88% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 137 89% 40%;
    --secondary-foreground: 0 0% 100%;
    --muted: 230 25% 95%;
    --muted-foreground: 224 16% 54%;
    --accent: 230 25% 95%;
    --accent-foreground: 223 32% 22%;
    --destructive: 349 86% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 230 25% 95%;
    --input: 225 23% 89%;
    --ring: 212 88% 51%;
    --radius: 0.5rem;
    --chart-1: 47 100% 48%;
    --chart-2: 137 89% 40%;
    --chart-3: 212 88% 51%;
    --chart-4: 252 83% 52%;
    --chart-5: 349 86% 50%;
  }

  .dark {
    --background: 240.1 11% 4%;
    --foreground: 223.81 0% 98%;
    --card: 240.1 11% 4%;
    --card-foreground: 223.81 0% 98%;
    --popover: 240.1 11% 4%;
    --popover-foreground: 223.81 0% 98%;
    --primary: 212 88% 51%;
    --primary-foreground: 223.81 -173% 100%;
    --secondary: 240.05 4% 16%;
    --secondary-foreground: 240.08 6% 64%;
    --muted: 240.02 6% 10%;
    --muted-foreground: 240.1 4% 46%;
    --accent: 240.02 6% 10%;
    --accent-foreground: 223.81 0% 98%;
    --destructive: 357.18 100% 45%;
    --destructive-foreground: 223.81 -173% 100%;
    --mono: 240.02 5% 84%;
    --mono-foreground: none 0% 0%;
    --border: 240.05 4% 16%;
    --input: 240.05 4% 16%;
    --ring: 240.05 4% 16%;
    --chart-1: 47 100% 48%;
    --chart-2: 137 89% 40%;
    --chart-3: 212 88% 51%;
    --chart-4: 256 89% 53%;
    --chart-5: 349 86% 50%;
  }
}

// --primary: #1379f0;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
