.btn {
  @apply inline-flex items-center cursor-pointer leading-[1] border border-transparent outline-none;
  border-radius: theme("custom.components.common.borderRadius.btn");
  height: theme("custom.components.btn.DEFAULT.height");
  padding-inline-start: theme("custom.components.btn.DEFAULT.px");
  padding-inline-end: theme("custom.components.btn.DEFAULT.px");
  gap: theme("custom.components.btn.DEFAULT.gap");
  font-weight: theme("custom.components.btn.DEFAULT.fontWeight");
  font-size: theme("custom.components.btn.DEFAULT.fontSize");

  i {
    @apply leading-0;
    font-size: theme("custom.components.btn.DEFAULT.iconFontSize");
  }
  &[disabled],
  &.disabled {
    @apply opacity-50 pointer-events-none;
  }
}
.btn-xs {
  height: theme("custom.components.btn.xs.height");
  padding-inline-start: theme("custom.components.btn.xs.px");
  padding-inline-end: theme("custom.components.btn.xs.px");
  font-size: theme("custom.components.btn.xs.fontSize");
  gap: theme("custom.components.btn.xs.gap");

  i {
    font-size: theme("custom.components.btn.xs.iconFontSize");
  }
}

.btn-sm {
  height: theme("custom.components.btn.sm.height");
  padding-inline-start: theme("custom.components.btn.sm.px");
  padding-inline-end: theme("custom.components.btn.sm.px");
  font-size: theme("custom.components.btn.sm.fontSize");
  gap: theme("custom.components.btn.sm.gap");

  i {
    font-size: theme("custom.components.btn.sm.iconFontSize");
  }
}

.btn-lg {
  height: theme("custom.components.btn.lg.height");
  padding-inline-start: theme("custom.components.btn.lg.px");
  padding-inline-end: theme("custom.components.btn.lg.px");
  font-size: theme("custom.components.btn.lg.fontSize");
  gap: theme("custom.components.btn.lg.gap");

  i {
    font-size: theme("custom.components.btn.lg.iconFontSize");
  }
}
//Button Icon
.btn-icon {
  @apply items-center flex-shrink-0 p-0 gap-0 justify-center;
  width: theme("custom.components.btn.DEFAULT.height");
  i {
    font-size: theme("custom.components.btn.DEFAULT.onlyIconFontSize");
  }
  &.btn-xs {
    width: theme("custom.components.btn.xs.height");
    i {
      font-size: theme("custom.components.btn.xs.iconFontSize");
    }
  }
  &.btn-sm {
    width: theme("custom.components.btn.sm.height");
    i {
      font-size: theme("custom.components.btn.sm.iconFontSize");
    }
  }

  &.btn-lg {
    width: theme("custom.components.btn.lg.height");
    i {
      font-size: theme("custom.components.btn.lg.onlyIconFontSize");
    }
  }
}

// Button Color

@each $color
  in (
    "primary",
    "success",
    "danger",
    "warning",
    "info",
    "dark",
    "secondary",
    "light"
  )
{
  .btn-#{$color} {
    color: theme("colors.white");
    background-color: var(--tw-#{$color});
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: var(--tw-#{$color}-active);
      box-shadow: var(--tw-#{$color}-box-shadow);
    }
  }
  .btn-outline.btn-#{$color} {
    color: var(--tw-#{$color});
    background-color: var(--tw-#{$color}-light);
    border-color: var(--tw-#{$color}-clarity);
    i {
      color: var(--tw-#{$color});
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: var(--tw-#{$color}-inverse);
      background-color: var(--tw-#{$color});
      border-color: var(--tw-#{$color});
      box-shadow: none;
      i {
        color: var(--tw-#{$color}-inverse);
      }
    }
  }

  .btn-clear.btn-#{$color} {
    @apply bg-transparent border-transparent;
    color: var(--tw-#{$color});
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: var(--tw-#{$color}-inverse);
      background-color: var(--tw-#{$color});
      border-color: var(--tw-#{$color});
      box-shadow: none;
      i {
        color: var(--tw-#{$color}-inverse);
      }
    }
  }
  .btn-subtle.btn-#{$color} {
    @apply bg-transparent border-transparent;
    i {
      color: var(--tw-#{$color});
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: var(--tw-#{$color});
      background-color: var(--tw-#{$color}-light);
      border-color: var(--tw-#{$color}-light);
      box-shadow: none;
      i {
        color: var(--tw-#{$color});
      }
    }
  }
}
.btn-light {
  @apply text-gray-700 border-gray-300 bg-light;
  i {
    @apply text-gray-500;
  }
  &:hover,
  &:focus,
  &:active,
  &.active {
    @apply border-gray-300 bg-light-active shadow-default text-gray-800;
    i {
      @apply text-gray-600;
    }
  }
  &[disabled],
  &.disabled {
    @apply opacity-100 text-gray-500 border-gray-200 bg-light;
    i {
      @apply text-gray-400;
    }
  }

  &.btn-clear {
    @apply border-transparent bg-transparent text-gray-700;
    i {
      @apply text-gray-600;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
      @apply border-transparent bg-gray-200 shadow-none text-gray-800;
      i {
        @apply text-gray-700;
      }
    }
    &[disabled],
    &.disabled {
      @apply opacity-100 text-gray-500 border-transparent bg-transparent;
      i {
        @apply text-gray-400;
      }
    }
  }
}

.btn-secondary {
  @apply text-gray-700 border-gray-200 bg-secondary;
  i {
    @apply text-gray-500;
  }
  &:hover,
  &:focus,
  &:active,
  &.active {
    @apply border-gray-300 bg-secondary-active shadow-default text-gray-800;
    i {
      @apply text-gray-600;
    }
  }
  &[disabled],
  &.disabled {
    @apply opacity-100 text-gray-500 border-gray-200 bg-light;
    i {
      @apply text-gray-400;
    }
  }
}

.btn-outline.btn-secondary,
.btn-outline.btn-light,
.btn-outline.btn-dark,
.btn-clear.btn-secondary,
.btn-clear.btn-dark,
.btn-subtle.btn-secondary,
.btn-subtle.btn-light,
.btn-subtle.btn-dark {
  @apply hidden;
}

.btn-link {
  @apply text-primary h-auto pb-[0.25em] ps-0 pe-0 bg-transparent border-b border-dashed border-primary;
  &:hover,
  &:focus,
  &:active,
  &.active {
    @apply bg-transparent border-b border-dashed border-primary-active text-primary-active;
  }

  &.btn-sm{
    font-size: theme('fontSize.xs');
  }

  &.btn-lg{
    font-size: theme('fontSize.sm');
  }
}
