.radio[type="radio"] {
  @apply rounded-[50%] h-[2.2rem] w-[2.2rem] border border-gray-300 focus:border-primary bg-no-repeat bg-[50%] bg-auto transition-colors duration-200 hover:border-gray-400 checked:bg-primary checked:border-primary;

  &:checked {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none'%3E%3Ccircle cx='10.999' cy='11' r='5.867' fill='%23fff'/%3E%3C/svg%3E");
  }

  &.radio-sm {
    @apply w-[1.8rem] h-[1.8rem];
    &:checked {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none'%3E%3Ccircle cx='9' cy='9' r='4.8' fill='%23fff'/%3E%3C/svg%3E");
    }
  }
  &.radio-lg {
    @apply w-[2.6rem] h-[2.6rem];
    &:checked {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' fill='none'%3E%3Ccircle cx='13' cy='13' r='6.933' fill='%23fff'/%3E%3C/svg%3E");
      }
  }
}
